USE [master]
GO
/****** Object:  Database [AnonymousComplaint]    Script Date: 15/12/2025 10:34:40 ******/
CREATE DATABASE [AnonymousComplaint]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AnonymousComplaint', FILENAME = N'C:\SQLDB\MSSQL16.SQLEXPRESS\MSSQL\Data\AnonymousComplaint.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AnonymousComplaint_log', FILENAME = N'C:\SQLDB\MSSQL16.SQLEXPRESS\MSSQL\Data\AnonymousComplaint_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AnonymousComplaint].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AnonymousComplaint]
GO
/****** Object:  User [webadmin]    Script Date: 15/12/2025 10:34:41 ******/
CREATE USER [webadmin] FOR LOGIN [webadmin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 15/12/2025 10:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnonymousComplaints]    Script Date: 15/12/2025 10:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnonymousComplaints](
	[AnonymousComplaintID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CategoryID] [int] NULL,
	[FrequencyID] [int] NULL,
	[FusionWithID] [int] NULL,
	[Archived] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[TypeID] [int] NULL,
	[State] [nvarchar](50) NULL,
	[IncidentDate] [date] NULL,
	[IsIdentityVisible] [bit] NOT NULL,
 CONSTRAINT [PK__Anonymou__54E7974A0BBB4943] PRIMARY KEY CLUSTERED 
(
	[AnonymousComplaintID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attachments]    Script Date: 15/12/2025 10:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attachments](
	[AttachmentID] [int] IDENTITY(1,1) NOT NULL,
	[AnonymousComplaintID] [int] NULL,
	[FilePath] [nvarchar](255) NOT NULL,
	[FileType] [nvarchar](255) NULL,
	[Archived] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[FileName] [nvarchar](100) NULL,
 CONSTRAINT [PK__Attachme__442C64DE2E016E74] PRIMARY KEY CLUSTERED 
(
	[AttachmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 15/12/2025 10:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Archived] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[TypeId] [int] NULL,
 CONSTRAINT [PK__Categori__19093A2B51D3BA1B] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Defendants]    Script Date: 15/12/2025 10:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Defendants](
	[AnonymousComplaintID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK__Defendan__859F1B80B65EB45E] PRIMARY KEY CLUSTERED 
(
	[AnonymousComplaintID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Frequencies]    Script Date: 15/12/2025 10:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Frequencies](
	[FrequencyID] [int] IDENTITY(1,1) NOT NULL,
	[Label] [nvarchar](100) NOT NULL,
	[Archived] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK__Frequenc__592474B82B67A39E] PRIMARY KEY CLUSTERED 
(
	[FrequencyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solutions]    Script Date: 15/12/2025 10:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solutions](
	[SolutionID] [int] IDENTITY(1,1) NOT NULL,
	[AnonymousComplaintID] [int] NULL,
	[Content] [text] NOT NULL,
	[Archived] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK__Solution__6B633AF077192C53] PRIMARY KEY CLUSTERED 
(
	[SolutionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Types]    Script Date: 15/12/2025 10:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Types](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Archived] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK__Types__516F03959BE84BD0] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 15/12/2025 10:34:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK__Users__1788CCAC14030537] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Types] ON 

INSERT [dbo].[Types] ([TypeID], [Name], [Archived], [CreatedBy], [CreatedAt]) VALUES (34, N'Réclamation', 0, 1106, CAST(N'2025-10-27T16:19:28.937' AS DateTime))
INSERT [dbo].[Types] ([TypeID], [Name], [Archived], [CreatedBy], [CreatedAt]) VALUES (35, N'Suggestion', 0, 19, CAST(N'2025-10-27T17:11:42.030' AS DateTime))
SET IDENTITY_INSERT [dbo].[Types] OFF
GO

/****** Object:  Index [IX_AnonymousComplaints_CategoryID]    Script Date: 15/12/2025 10:34:41 ******/
CREATE NONCLUSTERED INDEX [IX_AnonymousComplaints_CategoryID] ON [dbo].[AnonymousComplaints]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AnonymousComplaints_CreatedBy]    Script Date: 15/12/2025 10:34:41 ******/
CREATE NONCLUSTERED INDEX [IX_AnonymousComplaints_CreatedBy] ON [dbo].[AnonymousComplaints]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AnonymousComplaints_FrequencyID]    Script Date: 15/12/2025 10:34:41 ******/
CREATE NONCLUSTERED INDEX [IX_AnonymousComplaints_FrequencyID] ON [dbo].[AnonymousComplaints]
(
	[FrequencyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AnonymousComplaints_FusionWithID]    Script Date: 15/12/2025 10:34:41 ******/
CREATE NONCLUSTERED INDEX [IX_AnonymousComplaints_FusionWithID] ON [dbo].[AnonymousComplaints]
(
	[FusionWithID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AnonymousComplaints_TypeID]    Script Date: 15/12/2025 10:34:41 ******/
CREATE NONCLUSTERED INDEX [IX_AnonymousComplaints_TypeID] ON [dbo].[AnonymousComplaints]
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Attachments_AnonymousComplaintID]    Script Date: 15/12/2025 10:34:41 ******/
CREATE NONCLUSTERED INDEX [IX_Attachments_AnonymousComplaintID] ON [dbo].[Attachments]
(
	[AnonymousComplaintID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Attachments_CreatedBy]    Script Date: 15/12/2025 10:34:41 ******/
CREATE NONCLUSTERED INDEX [IX_Attachments_CreatedBy] ON [dbo].[Attachments]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Categories_CreatedBy]    Script Date: 15/12/2025 10:34:41 ******/
CREATE NONCLUSTERED INDEX [IX_Categories_CreatedBy] ON [dbo].[Categories]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Defendants_UserID]    Script Date: 15/12/2025 10:34:41 ******/
CREATE NONCLUSTERED INDEX [IX_Defendants_UserID] ON [dbo].[Defendants]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Frequencies_CreatedBy]    Script Date: 15/12/2025 10:34:41 ******/
CREATE NONCLUSTERED INDEX [IX_Frequencies_CreatedBy] ON [dbo].[Frequencies]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Solutions_AnonymousComplaintID]    Script Date: 15/12/2025 10:34:41 ******/
CREATE NONCLUSTERED INDEX [IX_Solutions_AnonymousComplaintID] ON [dbo].[Solutions]
(
	[AnonymousComplaintID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Solutions_CreatedBy]    Script Date: 15/12/2025 10:34:41 ******/
CREATE NONCLUSTERED INDEX [IX_Solutions_CreatedBy] ON [dbo].[Solutions]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Types_CreatedBy]    Script Date: 15/12/2025 10:34:41 ******/
CREATE NONCLUSTERED INDEX [IX_Types_CreatedBy] ON [dbo].[Types]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AnonymousComplaints] ADD  DEFAULT ((0)) FOR [Archived]
GO
ALTER TABLE [dbo].[AnonymousComplaints] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AnonymousComplaints] ADD  DEFAULT ((1)) FOR [IsIdentityVisible]
GO
ALTER TABLE [dbo].[Attachments] ADD  DEFAULT ((0)) FOR [Archived]
GO
ALTER TABLE [dbo].[Attachments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [Archived]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Frequencies] ADD  DEFAULT ((0)) FOR [Archived]
GO
ALTER TABLE [dbo].[Frequencies] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Solutions] ADD  DEFAULT ((0)) FOR [Archived]
GO
ALTER TABLE [dbo].[Solutions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Types] ADD  DEFAULT ((0)) FOR [Archived]
GO
ALTER TABLE [dbo].[Types] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AnonymousComplaints]  WITH NOCHECK ADD  CONSTRAINT [FK__Anonymous__TypeI__2739D489] FOREIGN KEY([TypeID])
REFERENCES [dbo].[Types] ([TypeID])
GO
ALTER TABLE [dbo].[AnonymousComplaints] CHECK CONSTRAINT [FK__Anonymous__TypeI__2739D489]
GO
ALTER TABLE [dbo].[AnonymousComplaints]  WITH NOCHECK ADD  CONSTRAINT [FK_AnonymousComplaint_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[AnonymousComplaints] CHECK CONSTRAINT [FK_AnonymousComplaint_Category]
GO
ALTER TABLE [dbo].[AnonymousComplaints]  WITH NOCHECK ADD  CONSTRAINT [FK_AnonymousComplaint_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AnonymousComplaints] CHECK CONSTRAINT [FK_AnonymousComplaint_CreatedBy]
GO
ALTER TABLE [dbo].[AnonymousComplaints]  WITH NOCHECK ADD  CONSTRAINT [FK_AnonymousComplaint_Frequency] FOREIGN KEY([FrequencyID])
REFERENCES [dbo].[Frequencies] ([FrequencyID])
GO
ALTER TABLE [dbo].[AnonymousComplaints] CHECK CONSTRAINT [FK_AnonymousComplaint_Frequency]
GO
ALTER TABLE [dbo].[AnonymousComplaints]  WITH NOCHECK ADD  CONSTRAINT [FK_AnonymousComplaint_Fusion] FOREIGN KEY([FusionWithID])
REFERENCES [dbo].[AnonymousComplaints] ([AnonymousComplaintID])
GO
ALTER TABLE [dbo].[AnonymousComplaints] CHECK CONSTRAINT [FK_AnonymousComplaint_Fusion]
GO
ALTER TABLE [dbo].[Attachments]  WITH NOCHECK ADD  CONSTRAINT [FK_Attachments_AnonymousComplaint] FOREIGN KEY([AnonymousComplaintID])
REFERENCES [dbo].[AnonymousComplaints] ([AnonymousComplaintID])
GO
ALTER TABLE [dbo].[Attachments] CHECK CONSTRAINT [FK_Attachments_AnonymousComplaint]
GO
ALTER TABLE [dbo].[Attachments]  WITH NOCHECK ADD  CONSTRAINT [FK_Attachments_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Attachments] CHECK CONSTRAINT [FK_Attachments_CreatedBy]
GO
ALTER TABLE [dbo].[Categories]  WITH NOCHECK ADD  CONSTRAINT [FK_Categories_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_CreatedBy]
GO
ALTER TABLE [dbo].[Categories]  WITH NOCHECK ADD  CONSTRAINT [FK_Categories_Types] FOREIGN KEY([TypeId])
REFERENCES [dbo].[Types] ([TypeID])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Types]
GO
ALTER TABLE [dbo].[Defendants]  WITH NOCHECK ADD  CONSTRAINT [FK_Defendants_AnonymousComplaint] FOREIGN KEY([AnonymousComplaintID])
REFERENCES [dbo].[AnonymousComplaints] ([AnonymousComplaintID])
GO
ALTER TABLE [dbo].[Defendants] CHECK CONSTRAINT [FK_Defendants_AnonymousComplaint]
GO
ALTER TABLE [dbo].[Defendants]  WITH NOCHECK ADD  CONSTRAINT [FK_Defendants_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Defendants] CHECK CONSTRAINT [FK_Defendants_User]
GO
ALTER TABLE [dbo].[Frequencies]  WITH NOCHECK ADD  CONSTRAINT [FK_Frequencies_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Frequencies] CHECK CONSTRAINT [FK_Frequencies_CreatedBy]
GO
ALTER TABLE [dbo].[Solutions]  WITH NOCHECK ADD  CONSTRAINT [FK_Solutions_AnonymousComplaint] FOREIGN KEY([AnonymousComplaintID])
REFERENCES [dbo].[AnonymousComplaints] ([AnonymousComplaintID])
GO
ALTER TABLE [dbo].[Solutions] CHECK CONSTRAINT [FK_Solutions_AnonymousComplaint]
GO
ALTER TABLE [dbo].[Solutions]  WITH NOCHECK ADD  CONSTRAINT [FK_Solutions_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Solutions] CHECK CONSTRAINT [FK_Solutions_CreatedBy]
GO
ALTER TABLE [dbo].[Types]  WITH NOCHECK ADD  CONSTRAINT [FK_Types_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Types] CHECK CONSTRAINT [FK_Types_CreatedBy]
GO
USE [master]
GO
